@use '@angular/material' as mat;

.stint-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
}

.stint-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  column-gap: 100px;
}

.driver-name {
  width: 25%;
}

.delete-button {
  @include mat.button-overrides((
    filled-container-color: #FFC107,
    filled-label-text-color: black
  ));
}
