<mat-card class="stint-container" appearance="outlined">
  <mat-card-content class="stint-content">
    <mat-form-field>
      <mat-label>Driver</mat-label>
      <mat-select
        [(ngModel)]="selectedDriver"
        name="driverSelect"
        (ngModelChange)="onDriverSelected($event)"
      >
        @for (name of names(); track name) {
        <mat-option [value]="name">{{ name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input
          type="time"
          matInput
          [(ngModel)]="startTime"
          (ngModelChange)="onStartChanged($event)"
        />
        <mat-icon matSuffix>watch_later</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input
          type="time"
          matInput
          [(ngModel)]="endTime"
          name="endTime"
          (ngModelChange)="onEndChanged($event)"
        />
        <mat-icon matSuffix>watch_later</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox (change)="onHeavyChanged($event.checked)">
        Heavy Turn
      </mat-checkbox>
    </div>
    <div>
      <button mat-flat-button class="delete-button" (click)="deleteStint()">
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
