@use "@angular/material" as mat;

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.list {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
