body {
  margin: 0;
  height: 100vh;
}

.main-container {
  display: flex;
  height: 100%;
  color: --mat-sys-on-primary;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #f0f0f0;
}

.driver-container {
  display: flex;
  flex: 1;
  flex-shrink: .5;
  flex-direction: column;
  background: #e0e0e0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.total-time-container {
  flex: 2;
  background: #d0d0d0;
  padding: 20px;
}

.main-content {
  flex: 1;
  background: #ffffff;
  padding: 20px;
}
