html, body {
  box-sizing: border-box;
  margin:0;
  padding: 0; 
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr; 
  grid-template-rows: auto 1fr; 
  height: 100vh; 
  gap: 16px; 
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mat-app-background-color);
}

.left-side {
  display: flex;
  grid-row: 1 / span 2;
  flex-direction: column;
  background-color: var(--mat-card-background-color);
}

.driver-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: #e0e0e0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.03);
  
  :host-context(.darkMode) & {
    background-color: var(--mat-card-background-color);
  }
}

.total-time-container {
  flex: 1 1 auto;
  background: #d0d0d0;
  padding: 20px;
  overflow-y: auto; 
  background-color: rgba(0, 0, 0, 0.03);
  
  :host-context(.darkMode) & {
    background-color: var(--mat-card-background-color);
  }
}

.main-content {
  grid-column: 2;
  grid-row: 1 / span 2; 
  overflow-y: auto;
  height: 100%;
  flex: 1;
  background: #ffffff;
  padding: 20px;
  background-color: var(--mat-card-background-color);
}
