/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: -1,
    )
  );
}

body {
  height: 100%;
  font-family: Roboto;
  margin: 0;
}
