@use "@angular/material" as mat;

.header-bar {
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
  height: 50px;
}

.toolbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dark-mode-toggle {
  position: absolute;
  right: 80px;
}

.sync-button{
  position: absolute;
  right: 120px;
}

.planning-button {
  position: absolute;
  right: 40px;
}

.info-button {
  position: absolute;
  right: 0px;
}

.stint-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.stint-item {
  flex: 1;
  width: 66.66%;
  max-width: 1200px;
  min-width: 800px;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.add-button {
  color: --primary;
  position: fixed;
  bottom: 20px;
  right: 20px;
  @include mat.fab-overrides(
    (
      container-color: #005cbb,
      foreground-color: white,
    )
  );
}
