<mat-toolbar class="header-bar">
  <div class="toolbar-content">
    <span class="title"><b>Stints</b></span>
    <button mat-icon-button class="dark-mode-toggle" (click)="toggleTheme()">
      <mat-icon [ngStyle]="{ color: isDarkTheme() ? '#ffffff' : '#000000' }">{{
        isDarkTheme() ? "light_mode" : "dark_mode"
      }}</mat-icon>
    </button>
    <button mat-icon-button class="info-button" (click)="openInfoDialog()">
      <mat-icon [ngStyle]="{ color: isDarkTheme() ? '#ffffff' : '#000000' }"
        >info</mat-icon
      >
    </button>
  </div>
</mat-toolbar>
<div class="list-container">
  <mat-list class="stint-list">
    @for (stint of stints(); track stint.id){
    <mat-list-item class="stint-item">
      <app-time-table-entry [entry]="stint"></app-time-table-entry>
    </mat-list-item>
    }
  </mat-list>
</div>
<div>
  <button mat-fab class="add-button" (click)="addStint()">
    <mat-icon>add</mat-icon>
  </button>
</div>
